[submodule "submodulo1"]
	path = submodulo1
	url = https://github-personal/dgutierrezlopez/submodulo1.git
[submodule "submodulo2"]
	path = submodulo2
	url = https://github-personal/dgutierrezlopez/submodulo2.git
